.summary {
  background-color: #e8f2fb;
  text-align: center;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 25% !important;
  position: fixed;
  top: 15%;
  right: 2%;
}

@media screen and (max-width: 1050px) {
  .summary {
    text-align: center;
    position: relative;
    width: 90% !important;
  }
}
